@media (min-width: 1100px) {
  .UserCard {
    width: 100%;
    /* height: 526px; */
    border-radius: 4px;
    /* box-shadow: 0 12px 20px rgba(226, 226, 226, 0.54); */
    /* border: 1px solid #e2e2e2; */
    /* background: #fff; */
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-top: 60px;
    padding: 20px;
    padding-bottom: 0;
    font-weight: 300;
  }
}

@media (max-width: 1024px) {
  .UserCard {
    margin-top: 10px;
  }
}

@media (max-width: 900px) {
  .UserCard {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .UserCard {
    width: 100%;
    height: 89vh;
    /* background: #70c55d; */
    margin: 0;
    border-radius: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
  }
}
@media (max-width: 688px) {
  .UserCard {
    width: 100%;

    /* background: #70c55d; */
  }
}

.UserCard .user-info {
  /* border-bottom: 1px solid #f0f0f0; */
  padding-top: 37px;
  padding-bottom: 16px;
  /* padding-left: 50px;
  padding-right: 50px; */
  text-align: center;
}

@media (max-width: 1024px) {
  .UserCard .user-info {
    padding: 0;
    padding-top: 10px !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .UserCard .user-info {
    padding: 0;
    padding-top: 10px !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .UserCard .user-info {
    padding: 0;
    /* margin-top: 400px; */
    margin-bottom: 10px;
  }
}

@media (max-width: 688px) {
  .UserCard .user-info {
    padding: 0;
    padding-top: 10px !important;
    margin-bottom: 10px;
  }
}

.UserCard h4 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.UserCard .user-info .active-user {
  margin-bottom: 20px;
  border-radius: 50px;
}

.UserCard .user-info img {
  object-fit: cover;
}

.UserCard .username {
  font-size: 22px;
  color: #0a1004;
  font-weight: 700;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .UserCard .username {
    font-size: 16px;
  }
}

.UserCard .edit-photo {
  background: none;
  border: 0;
  color: #3f9b16;
  cursor: pointer;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
}

/* @media (max-width: 800px) {
  .UserCard .edit-photo {
    display: none;
  }
} */

@media (max-width: 800px) {
  .UserCard .edit-photo img {
    width: 48px;
    height: 48px;
  }
}

.UserCard .edit-photo:hover {
  color: #3f9b16;
  text-decoration: underline;
  font-weight: 600;
}

.UserCard .tabs {
  height: 306px;
  width: 100%;
}

@media (max-width: 688px) {
  .UserCard .tabs {
    display: flex;
    width: 485px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #70c55d;
    height: 40px;
    border-radius: 4px;
    justify-content: center;
    /* padding-top: 8px;
    padding-bottom: 8px; */
  }
  .UserCard .tabs button {
    height: 100%;
  }
}

.UserCard .tabs .tab-top {
  width: 100%;
  height: 70px;
  /* border-bottom: 1px solid #f0f0f0; */
  padding: 12px 28px;
  text-align: center;
}

.UserCard .tabs .tab-top .action-button {
  /* width: 100%;
  height: 46px; */
  /* padding: 0px 60px; */
  /* border-radius: 25px;
  background: #e2eadf;
  font-size: 16px;
  font-weight: 700;
  color: #3f9b16;
  text-decoration: none;
  border: none;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer; */
}

.UserCard .tabs .tab .icon {
  margin-right: 15px;
  color: #0e2113;
  opacity: 0.8;
}

.UserCard .tabs .tab-top .action-button:hover {
  background: #70c55d;
}

.UserCard .tabs .tab {
  width: 100%;

  text-align: center;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #f0f0f0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media (max-width: 800px) {
  .UserCard .tabs .tab {
    height: 40px;
  }
}

@media (max-width: 688px) {
  .UserCard .tabs .tab {
    height: 40px;
    margin: 0 !important;
  }
}

.UserCard .tabs .tab a button {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  text-decoration: none;
  color: #373737;
  font-weight: 300;
  border: 0;
  background: none;
  outline: none;
  margin-bottom: 10px;
}

@media (max-width: 688px) {
  .UserCard .tabs .tab a button {
    width: 161px;
    height: 34px;
    background: none;
    border: 0;
    border-radius: 0 4px 4px 0;
    transition: all 0;
    padding: 0;
  }
}

.UserCard .tabs .tab a.active button {
  width: 100%;
  height: 46px;
  /* padding: 12px 40px; */
  border-radius: 25px;
  background: #70c55d;
  font-size: 16px;
  font-weight: 500;
  color: #f7f7f7;
  text-decoration: none;
  border: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .UserCard .tabs .tab a.active button {
    height: 34px;
    width: 80%;
  }
}

@media (max-width: 688px) {
  .UserCard .tabs .tab a.active button {
    width: 161px;
    height: 100%;
    border-radius: 0;
    background: #70c55d;
    outline: none;
    color: #fff;
    /* padding: 10px 40px; */
  }
}

.UserCard .tabs .tab a.active button:focus {
  outline: none;
}

.UserCard .tabs .tab a button:hover {
  /* color: rgb(90, 181, 70); */
}

.UserCard .tabs .tab a button.active:hover {
  color: #f7f7f7;
}

.UserCard .tabs .tab:nth-child(5) {
  border-bottom: none;
}

.UserCard .user-handle {
  color: #13171276;
  font-weight: 700;
}
