.UserCard {
  width: 100%;
  height: 526px;
  border-radius: 2px;
  background: #fff;
  /* border: 1px solid #e2e2e2; */
  font-size: 1.3rem;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px #020c1d29;
  margin-top: 60px;
}

.UserCard .user-info {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 37px;
  padding-bottom: 16px;
  /* padding-left: 50px;
  padding-right: 50px; */
  text-align: center;
}
.UserCard h4 {
  padding: 0;
  margin: 0;
}

.UserCard .user-info .active-user {
  margin-bottom: 20px;
}

.UserCard .username {
  font-size: 2.2rem;
  color: #020c1d;
  font-weight: 700;
  margin-bottom: 8px;
}

.UserCard .edit-photo {
  background: none;
  border: 0;
  color: #bebebe;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.UserCard .edit-photo:hover {
  color: #484ac4;
  font-weight: 600;
}

.UserCard .tabs {
  height: 306px;
  width: 100%;
}

.UserCard .tabs .tab-top {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e2e2e2;
  padding: 27px 15%;
  text-align: center;
}

.UserCard .tabs .tab-top a.action-button {
  max-width: 100%;
  height: 46px;
  padding: 12px 4rem;
  border-radius: 2px;
  background: #5659e1;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: 0 0 5px #020c1d72;
}

.UserCard .tabs .tab-top .action-button:hover {
  background: #484ac4;
}

.UserCard .tabs .tab {
  width: 100%;
  height: 58px;
  padding: 20px 28px;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserCard .tabs .tab .tab-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

.UserCard .tabs .tab a.active {
  font-weight: 700;
  color: #484ac4;
}

.UserCard .tabs .tab:nth-child(5) {
  border-bottom: none;
}
