.UserProject {
  max-width: 90%;
  /* height: 244px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background: #fff;
  border-radius: 4px;
  /* box-shadow: 0 12px 20px rgba(128, 128, 128, 0.28); */
  /* border: 1px solid #e2e2e2; */
  margin-bottom: 34px;
  box-shadow: 0 12px 20px rgba(226, 226, 226, 0.54);
}

.UserProject .user-project-image {
  width: 100%;
  height: 218px;
  background: url('../../img/Placeholder-image.png') no-repeat center
    center/cover;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  position: relative;
}

.UserProject .user-project-image img {
  width: 100%;
  height: 100%;
  border: none;
  object-position: top;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.UserProject .user-project-image:hover img {
  filter: brightness(60%);
}

.UserProject .user-project-image p {
  z-index: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  transition: all 0.3s;
  opacity: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.UserProject .user-project-image:hover p {
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  opacity: 1;
}

.UserProject .user-project-image .user-image-label {
  top: 50%;
}

.UserProject .user-project-content {
  width: 100%;
  padding: 22px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.UserProject .user-project-content h2 {
  margin: 0;
  font-size: 24px;
  color: #464646;
  font-weight: 700;
  margin-bottom: 16px;
}
.UserProject .user-project-content .info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.UserProject .user-project-content .info i {
  margin-right: 6px;
  color: #70c55d;
}

.UserProject .user-project-content .info p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-right: 60px;
}

.UserProject .user-project-content .user-description {
  width: 100%;
  color: #686868;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.UserProject .user-project-content .user-description p {
  font-size: 16px;
  margin: 0;
}
.user-view-bids {
  text-decoration: none;
  color: #020c1d;
  font-size: 14px;
}

a.user-view-bids:hover {
  text-decoration: none;

  color: #020c1d;
}

.user-view-bids i {
  background: #e2eadf;
  border-radius: 50%;
  border: 0;
  color: #70c55d;
  outline: none;
  /* text-align: start; */
  /* width: 42px;
  height: 42px; */
  padding: 13px;
  transition: all 0.2s;
  margin-right: 8px;
}

.user-view-bids i:hover {
  transform: scale(1.1);
}

.delete {
  background: #e2eadf;
  border-radius: 50%;
  border: 0;
  color: #70c55d;
  outline: none;
  /* text-align: start; */
  width: 42px;
  height: 42px;
  transition: all 0.2s;
}
.delete:hover {
  transform: scale(1.1);
}

.UserProject .user-project-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.UserProject button {
  outline: none;
}

.UserProject .timestamp {
  font-size: 13px;
  color: #8d9b88;
  font-weight: 500;
}
.UserProject .image-modal {
  width: 100%;
  border: 0;
  background: none;
  padding: 0;
}

.UserProject .image-modal img {
  width: 100%;
}

.UserProject .user-project-category {
  font-size: 14px;
}

.ReactModal__Content--after-open {
  background-color: rgba(0, 0, 0, 0.489) !important;
}

.ril__toolbar {
  display: none;
}
