* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
<<<<<<< HEAD
  margin: 0;
=======
  margin: 0 auto;
>>>>>>> master
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f7f9;
  font-size: 1.6rem;
  color: #020c1d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
